#textPresentation
{
    
    font-size: 16px;
    text-align:center;
    width:800px;
    margin:auto;
    margin-top:50px;
}

#imagePresentation
{
margin-top:50px;
}

table
{
    margin: auto;
    text-align: justify;
}