<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="SafeDrivingEntities" connectionString="metadata=res://*/SafeDrivingEM.csdl|res://*/SafeDrivingEM.ssdl|res://*/SafeDrivingEM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dphserver.no-ip.org;initial catalog=SafeDriving_DB;persist security info=True;user id=SafeDrivingAdmin;password=password2010;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>