@using Direction.Helpers
@model IList<Direction.Models.AccountViewModels.MigrationViewModel>

@{
	ViewBag.Title = "Migration";
}

<link href="../../Content/jquery-ui-1.8.11.custom.css" rel="stylesheet" type="text/css" />

<div class="Subtitle">
	<div class="ShadowTitle">
		Migration</div>
	<div class="FrontTitle">
		Migration</div>
</div>

@{
	var table = Html.TableFor(Model,"grid")
		.AddColumns(m=>m.Prenom,"prenom")
		.AddColumns(p=>p.Nom,"nom")
		.AddColumns(p=>p.Pseudo,"pseudo")
		.AddActionLink("Migration","migrer",m=>Html.ActionLink("Migrer","MigrationPopupClient","Client",new {id = m.Id},new {title="Confirmer la migration"}))
		.Render()
		;
	}

	<div id="message">
		@Html.Encode(TempData["Message"])
	</div>

@table
