@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>
    Une erreur est survenue lors de l'execution de votre requête, 
    veuillez nous excuser, nous mettons tout en oeuvre pour rétablir son bon fonctionnement.

                              L'équipe SaveDriving.
</h2>
