<link href="@Url.Content("~/Content/Register.css")" rel="stylesheet" type="text/css" />
@model SafeDriving.Models.CompteModel
@{
    ViewBag.Title = "Mon Compte";
}
<div class="Subtitle">
    <div class="ShadowTitle">
        Mon Compte</div>
    <div class="FrontTitle">
        Mon Compte</div>
</div>
@*@using (Html.BeginForm("Edit", "Account",FormMethod.Get))
{*@
<div id="edit-body">
    <table id="table-form">
        <tr>
            <td>
                <div class="shadow" id="edit-content-form">
                    <div class="Subtitle">
                        <div class="littleShadowTitle">
                            Mes Infos</div>
                        <div class="littleFrontTitle">
                            Mes Infos</div>
                    </div>
                    <div id="partial-forms">
                    @Html.Partial("MonComptePartial")
                    </div>
                </div>
            </td>
            <td>
                    <div id="button-parcours-planning">
                        <a href="@Url.Action("Index", "Parcours")">
                            <img class="shadow" id="parcoursB" src="../../Content/themes/base/images/Content/Account/ParcoursButton.png" />
                        </a><a href="@Url.Action("Index", "Planning")">
                            <img class="shadow" id="planningB" src="../../Content/themes/base/images/Content/Account/PlanningButton.png" />
                        </a>
                    </div>
                    <div id="prochainement" class="shadow">
                        <div class="Subtitle">
                            <div class="littleShadowTitle">
                                Bientôt</div>
                            <div class="littleFrontTitle">
                                Bientôt</div>
                        </div>
                    </div>
            </td>
        </tr>
    </table>
</div>
@*}*@ 