@{
    ViewBag.Title = "Home";
}
<link href="@Url.Content("~/Content/Presentation.css")" rel="stylesheet" type="text/css" />

<div id="Subtitle">
<div id="ShadowTitle">Présentation</div>
<div id="FrontTitle">Présentation</div>
</div>

        <div id="message">
            @Html.Encode(TempData["Message"])
        </div>

<div id="textPresentation">Proinde concepta rabie saeviore, quam desperatio incendebat et fames, amplificatis viribus ardore incohibili in excidium urbium matris Seleuciae efferebantur, quam comes tuebatur Castricius tresque legiones bellicis sudoribus induratae.Cognitis enim pilatorum caesorumque funeribus nemo deinde ad has stationes appulit navem, sed ut Scironis praerupta letalia declinantes litoribus Cypriis contigui navigabant, quae Isauriae scopulis sunt controversa.Sed fruatur sane hoc solacio atque hanc insignem ignominiam, quoniam uni praeter se inusta sit, putet esse leviorem, dum modo, cuius exemplo se consolatur, eius exitum expectet, praesertim cum in Albucio nec Pisonis libidines nec audacia Gabini fuerit ac tamen hac una plaga conciderit, ignominia senatus.</div><table id="imagePresentation"><tr><td>
    <img src="../../Content/themes/base/images/Content/Presentation/PhotoPresentation1.jpg" /></td><td>
        <img src="../../Content/themes/base/images/Content/Presentation/PhotoPresentation2.jpg" /></td><td>
            <img src="../../Content/themes/base/images/Content/Presentation/PhotoPresentation3.jpg" /></td></tr></table>